body {
    background-color: #e6e5e7;
}

/* 헤더  */
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header a h1 {
    padding: 10px 0;
    /* margin: 20px 0; */
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
}

header ul {
    list-style: none;
    text-align: center;
    border-top: 2px solid #6492c6;
    border-bottom: 2px solid #6492c6;
    padding: 10px 0;
}

header ul li {
    display: inline;
    padding: 0 20px;
    letter-spacing: 10px;
}

header ul li a {
    font-family: 'Nanum Myeongjo', serif;
}

/* 리모콘 */
img.totop {
    position: fixed;
    bottom: 20px;
    left: 40px;
}

/* -------------------- */

#banner {
    margin: 40px 0;
    text-align: center;
}

button.prev {
    width: 64px;
    height: 66px;
    background: url('../images/prev.png');
    border-style: none;
}

button.next {
    width: 64px;
    height: 66px;
    background: url('../images/next.png');
    border-style: none;
}

/* -------------------- */

iframe.sale {
    padding: 0;
    margin: 0 auto;
    width: 800px;
    height: 1200px;
    overflow: hidden;
}

/* -------------------- */

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20%;
}

.footer-left>h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: xx-large;
    font-weight: bold;
    color: #6492c6;
}

.footer-right>span:nth-of-type(2) {
    font-family: 'Nanum Pen Script', cursive;
    font-size: x-large;
    color: #6492c6;
}

.footer-left>p,
.footer-right>span:first-of-type,
.footer-right>span:nth-last-of-type(2),
.footer-right>span:last-of-type {
    font-family: 'Gothic A1', sans-serif;
    font-size: small;
}

.footer-right>span:nth-of-type(3) {
    font-family: 'Gothic A1', sans-serif;
    font-size: x-small;
    color: dimgray;
}