body {
    background-image: url('../images/bg-grad.png');
    background-attachment: fixed;
    background-size: cover;
}

#signup-form {
    padding: 40px;
}

#signup-form fieldset {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}

#signup-form fieldset legend span {
    font-family: 'Cedarville Cursive', cursive;
    font-size: x-large;
}

input,
select {
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    margin: 5px 0 0 3px;
    padding: 2px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #6492c6;
    color: white;
    border: 1px solid dimgray;
}

span.warn {
    font-size: small;
    font-style: italic;
    color: darkgray;
}

/* ------------------ */

.id-and-pw,
.email,
.phonenum-and-veriationcode {
    margin-bottom: 30px;
}

/* ---------------- */

.email select.emails {
    width: 140px;
    height: 23px;
    color: dimgray;
}

/* ---------------- */

.name-and-birth-gender {
    margin-bottom: 40px;
}

.name-and-birth-gender input[type=text]:first-of-type {
    width: 130px;
}

.name-and-birth-gender input[type=text]:nth-of-type(2) {
    width: 100px;
    height: 23px;
}

.name-and-birth-gender input[type=number] {
    width: 90px;
    height: 23px;
}

.name-and-birth-gender select {
    width: 90px;
    height: 23px;
    color: dimgray;
}

.name-and-birth-gender input[type=radio] {
    float: left;
    margin: 3px 2px 0 0;
}

.name-and-birth-gender span {
    float: left;
    line-height: 20px;
    margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: small;
    color: dimgray;
}

/* ---------------- */

.service-agreements {
    width: 600px;
    height: 200px;
    margin: 20px 0 0 0;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: small;
    text-align: justify;
    color: dimgray;
    background-color: white;
    border: 1px solid dimgray;
}

span.agree {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

/* -------------------- */

.signup-btns {
    text-align: center;
}

button.signup-btn {
    width: 150px;
    height: 50px;
    font-size: large;
    margin-top: 30px;
}